// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Custom Styles for Application go here

/** Changes background color, height and margin of the border **/
.top-bar {
    background: rgb(16, 15, 54);

}
 
table.ledger th, table.ledger td {
  font-size : 60%;
  width: 100%;

}