// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Custom Styles for Application go here

/** Changes background color, height and margin of the border **/
.top-bar {
    background: rgb(16, 15, 54);

}
 
table.ledger th, table.ledger td {
  font-size : 70%;
  width: 100%;

}

/** Style for Header Panels on Lease */
.header.panel {
  margin: 1rem auto;
  border: 2px solid #444;
  background: #fff; }
.header.panel p {
    
    
     }
    .header.panel p span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold; }
.header.panel .sign {
    background: #fff;
    width: 150px;
    height: 2.4rem;
    border: 2px solid #444;
    position: relative;
    top: -2.5rem;
    margin: auto; }
.header.panel .sign h1 {
  text-transform: uppercase;
  

  letter-spacing: 3px;
  color: #666;
  font-size: 70%;
  text-align: center;
  line-height: 1rem; }



/**
 * Style Progress Bars for Apartment Tables

table {
    position: relative;    
    overflow: hidden;
    width: 600px;
    border-collapse: collapse;
}
tr, td {
    background: none;
    
}
.progress {
    //position: absolute;
    //left: -100%;
    width: 100%;
    height: 20px;
    z-index: -1;    
    background: #8F8;    
    transition:left 1s;
}
 */